@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-12">
        <img src="@Url.Content("~/Resources/Images/JHIndex.jpg")" style="width:1300px;height:700px;"/>
    </div>
</div>