@{
    ViewBag.Title = "邮箱认证";
}
<h2>@ViewBag.Title</h2>
<p class="text-info">
    您的邮箱尚未通过认证，请检查您的邮箱并点击相应连接以便激活！
</p>
@*<p class="text-danger">
    为了方便测试: 您可以点击按钮直接认证邮箱: <a href="@ViewBag.Link" class="btn btn-sm btn-default">认证邮箱</a>
    此链接将会在正式版中移除。
</p>*@
