@{
    ViewBag.Title = "找回密码";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        请检查您的电子邮箱以便重置密码。
    </p>
    <p class="text-danger">
        为了方便测试: 您可以点击此链接进行重置密码操作: <a href="@ViewBag.Link">点我重置密码</a>
        此链接将会在正式版中移除。
    </p>
</div>

