@{
    ViewBag.Title = "重置密码成功";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        您的密码已经重置。 @Html.ActionLink("点此重新登陆", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
